<div class="" id="">

    <br>

    <div class="row">

        <div class="col m3">

        </div>

        <div class="col m6">
            <div class="card-panel">

                <h1 class="header center  text-lighten-2">Registro de Descargas</h1>

                <div class="center">
                    <h5 class="header light">Control historico de descargas</h5>
                </div>

            </div>
        </div>

        <div class="col m3">

        </div>

    </div>


    <div class="row">
        <div class="container">
            <table class="responsive-table">
                <thead>
                <tr>
                    <th>Codigo de descarga</th>
                    <th>Empleado</th>
                    <th>Total a pagar </th>
                    <th>Fecha</th>
                </tr>
                </thead>

                <tbody>
                <tr ng-repeat="x in allDischarges" style="cursor:pointer" ng-click="getDischargeDetails(x)">
                    <td>{{x.discharge.id}}</td>
                    <td>{{x.employee.name}}</td>
                    <td>{{x.discharge.total}} Q.</td>
                    <td>{{x.discharge.date | date:"dd/MM/yyyy 'a las' h:mma"}}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>


</div>


<div id="demoModal" class="modal">
    <div class="modal-content">
        <h4>Detalles de Descargo</h4>




        <div class="container">
        <table class="responsive-table">
            <thead>
            <tr>
                <!--<th>Codigo de descarga</th>-->
                <th>Producto</th>
                <th>Precio </th>
                <th>Cantidad</th>
            </tr>
            </thead>

            <tbody>
            <tr ng-repeat="x in dischargeDetail" >
                <!--<td>{{x.discharge.id}}</td>-->
                <td>{{x.product.name}}</td>
                <td>{{x.productDischarge.price}} Q.</td>
                <td>{{x.productDischarge.quantity}}</td>
            </tr>
            </tbody>
        </table>
        </div>






        <p></p>
    </div>
    <div class="modal-footer">
        <a href="" class=" modal-action modal-close waves-effect waves-green btn-flat" ng-click="getBack()">Aceptar</a>
    </div>
</div>

<div class="col">
    <a class='' data-target='demoModal' modal open="openModal"></a>
</div>