
    <div class="container">
        <br>
        <div class="row">

            <div class="col m3">

            </div>

            <div class="col m6">
                <div class="card-panel">

                    <h1 class="header center  text-lighten-2">Agregar Nueva Carga</h1>

                    <div class="center">
                        <h5 class="header light">Añadir registro de cajas usadas en carga.</h5>
                    </div>

                </div>
            </div>

            <div class="col m3">

            </div>

        </div>

        <br>



        <div class="row">

            <div class="section col s3">
                <!--<h5>You selected: <b>{{select.value}}</b></h5>-->
            </div>

            <div class="section col s6">
                <div input-field>
                    <select ng-model="load.employee" material-select>
                        <option ng-repeat="value in allEmployees" value="{{value.id}}">{{value.name}}</option>
                    </select>
                    <label>Seleccione empleado</label>
                </div>
            </div>

            <div class="section col s3">
                <!--<h5>You selected: <b>{{select.value}}</b></h5>-->
            </div>
        </div>
        <br>
        <div class="row">

            <div class="section col s3">
                <!--<h5>You selected: <b>{{select.value}}</b></h5>-->
            </div>

            <div class="section col s6">
                <div class="input-field">
                    <input placeholder="" id="first_name" type="number" class="validate" ng-model="load.quantity">
                    <label for="first_name">Cantidad de Cajas</label>
                </div>
            </div>

            <div class="section col s3">
                <!--<h5>You selected: <b>{{select.value}}</b></h5>-->
            </div>
        </div>
        <br>
        <div class="row">

            <div class="section col s3">
                <!--<h5>You selected: <b>{{select.value}}</b></h5>-->
            </div>

            <div class="section col s6" align="center">
                <div class="input-field">
                    <a class="waves-effect waves-light btn-large" ng-click="createLoad()">
                        <i class="material-icons right">send
                        </i>
                        Agregar</a>
                </div>
            </div>

            <div class="section col s3">
                <!--<h5>You selected: <b>{{select.value}}</b></h5>-->
            </div>
        </div>



    </div>

    <div id="demoModal" class="modal">
        <div class="modal-content">
            <h4>Operación realizada con exito</h4>
            <p>Se ha completado exitosamente el proceso.</p>
        </div>
        <div class="modal-footer">
            <a href="" class=" modal-action modal-close waves-effect waves-green btn-flat" ng-click="getBack()">Aceptar</a>
        </div>
    </div>

    <div class="col">
        <a class='' data-target='demoModal' modal open="openModal"></a>
    </div>