<link rel="stylesheet" href="/pages/home/home.css" />

<div class="" id="login">



                    <h1 class="header center  text-lighten-2">FruitExpo</h1>
                    <div class="row center">
                        <h5 class="header col s12 m12 light">Control integral de tu inventario, cuentas y servicios</h5>
                    </div>

                    <div class="row">
                        <div class="col s4"></div>
                        <div class="input-field col s4">
                            <input id="email" type="email" class="validate" ng-model="user.email">
                            <label for="email">Email</label>
                        </div>
                        <div class="col s4"></div>


                    </div>

                    <div class="row">
                        <div class="col s4"></div>

                        <div class="input-field col s4">
                            <input id="pass" type="password" class="validate" ng-model="user.password">
                            <label for="pass">Password</label>
                        </div>
                        <div class="col s4"></div>


                    </div>

                    <div class="row center">
                        <a href="" ng-click="login()" id="download-button" class="btn-large waves-effect waves-light  lighten-1">
                            <i class="material-icons right">send</i>
                            Inicia sesion
                        </a>
                    </div>





</div>


