<link rel="stylesheet" href="/pages/home/home.css" />

<div class="" id="login">

    <br>
    <br>
    <div class="row">

        <div class="col m3">

        </div>

        <div class="col m6">
            <div class="card-panel">


                <h1 class="header center  text-lighten-2">FruitExpo</h1>
                <div class="center">
                    <h5 class="header light">Control integral de tu inventario, cuentas y servicios</h5>
                </div>
                <div class="input-field">
                    <input id="email" type="email" class="validate" ng-model="user.email">
                    <label for="email">Email</label>
                </div>
                <div class="input-field">
                    <input id="pass" type="password" class="validate" ng-model="user.password">
                    <label for="pass">Password</label>
                </div>

                <br>
                <br>
                <br>
                <br>
                <div align="center">
                    <a href="" ng-click="login()" id="download-button" class="btn-large waves-effect waves-light lighten-1">
                        <i class="material-icons right">send</i>
                        Inicia sesion
                    </a>
                </div>




            </div>
        </div>

        <div class="col m3">

        </div>



    </div>

</div>


