<!-- registers.html -->
<div class="jumbotron text-center">

    <div class="row">
        <div class="col s3">
            <div class="card">
                <div class="card-image" align="center">
                    <img  src="http://3.bp.blogspot.com/_EkLFFq8WlkM/TRjdWmOvabI/AAAAAAAAAEs/tgv3ppp6gh4/w1200-h630-p-k-no-nu/frutasyverduras.jpg">

                    <span class="card-title">Listado de Cargas</span>
                </div>
                <div class="card-content">
                    <p>Ver todas las cargas realizadas a la fecha.</p>
                </div>
                <div class="card-action">
                    <a href="" ng-click="loadRecords()">Ingresar</a>
                </div>
            </div>
        </div>

        <div class="col s3">
            <div class="card">
                <div class="card-image" align="center">
                    <img  src="http://3.bp.blogspot.com/_EkLFFq8WlkM/TRjdWmOvabI/AAAAAAAAAEs/tgv3ppp6gh4/w1200-h630-p-k-no-nu/frutasyverduras.jpg">

                    <span class="card-title">Cargas</span>
                </div>
                <div class="card-content">
                    <p>Cargar cajas al medio de transporte.</p>
                </div>
                <div class="card-action" >
                    <a href="" ng-click="loadNewLoad()">Ingresar</a>
                </div>
            </div>
        </div>

        <div class="col s3">
            <div class="card">
                <div class="card-image" align="center">
                    <img  src="http://3.bp.blogspot.com/_EkLFFq8WlkM/TRjdWmOvabI/AAAAAAAAAEs/tgv3ppp6gh4/w1200-h630-p-k-no-nu/frutasyverduras.jpg">

                    <span class="card-title">Listado de descarga</span>
                </div>
                <div class="card-content">
                    <p>Control de descarga a sucursales.</p>
                </div>
                <div class="card-action">
                    <a href="" ng-click="loadDischargeRecord()">Ingresar</a>
                </div>
            </div>
        </div>

        <div class="col s3">
            <div class="card">
                <div class="card-image" align="center">
                    <img  src="http://3.bp.blogspot.com/_EkLFFq8WlkM/TRjdWmOvabI/AAAAAAAAAEs/tgv3ppp6gh4/w1200-h630-p-k-no-nu/frutasyverduras.jpg">

                    <span class="card-title">Descargas</span>
                </div>
                <div class="card-content">
                    <p>Descarga de productos a sucursales.</p>
                </div>
                <div class="card-action">
                    <a href="" ng-click="loadDischarge()">Ver</a>
                </div>
            </div>
        </div>
    </div>


    <div class="row">
        <div class="col s3">
            <div class="card">
                <div class="card-image" align="center">
                    <img  src="http://3.bp.blogspot.com/_EkLFFq8WlkM/TRjdWmOvabI/AAAAAAAAAEs/tgv3ppp6gh4/w1200-h630-p-k-no-nu/frutasyverduras.jpg">

                    <span class="card-title">Listado de Ventas</span>
                </div>
                <div class="card-content">
                    <p>Ver todas las ventas realizadas a la fecha.</p>
                </div>
                <div class="card-action">
                    <a href="" ng-click="loadSales()">Ver</a>
                </div>
            </div>
        </div>

        <div class="col s3">

        </div>

        <div class="col s3">

        </div>

        <div class="col s3">

        </div>
    </div>



</div>